
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }


  :root{

    --Yellow: hsl(47, 88%, 63%);

    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 50%);
    --Black: hsl(0, 0%, 7%)
  }
  


  body{

    font-size: 1rem;

    background-color: var(--Yellow);

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

  font-family: Figtree;
  }

  article {
    max-width: 350px;
    background-color: var(--White);
    padding: 1rem;
    padding-bottom: 1.3rem;
    font-family: Figtree;

    border-radius: 1rem;
    border: 1px solid var(--Black);
    box-shadow: 7px 7px 1px var(--Black)
  }

  .article-img{
    margin: auto;
    margin-bottom: 1rem;
    border-radius: 1rem;
  }

  .label{
    background-color: var(--Yellow);
    width: fit-content;
    font-weight: bold;

    margin-bottom: 0.4rem;
  }

  .date{
    margin-bottom: 0.6rem
  }
  
  .title{
    font-weight: bold;

    margin-bottom: 1rem;
  }

  .descr{
    color: var(--Grey);
    font-weight: 400;

    margin-bottom: 1.2rem;
  }

  .avatar-container{
    display: flex;
    align-items: center;
    gap: 0.5rem;

  }

  .avatar-container img {
    width: 1.7rem;
   
  }

  .avatar-container p {
    font-weight: 800;
  }